@import url('./reset.css');

.cell{
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
}

.add-players-container{
    width: 30vw;
    display: flex;
    flex-direction: column;
    border: 1px solid salmon;
    padding: 1rem;
}
.main-container{
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
}
.arena{
    display: flex;
    flex-direction: column;
}

.red{
    background-color: crimson;
}

.selected-cell{
    border: 2px solid crimson;
}